@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


[rule=button], button {
    cursor: pointer;
}


.react-datepicker-wrapper{
    width: 100%;
}